.middle-body {
  width: 309px;
}

.middle-body img {
  height: 238px;
  width: 309px;
  margin: 3px 0;
}

@media (max-width: 767px) {
  .middle-body {
    width: 309px;
    margin-bottom: 32px;
  }

  .topHome img {
    height: 242px;
    width: 309px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .middle-body {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    margin-top: 73px;
    flex-direction: column;
  }

  .middle-body img {
    height: auto;
    width: 53%;
  }
}
