.topbar-header {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width:100%; */
  /* padding-right: 70px; */
}

@media (max-width: 767px) {
  .topbar-header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 0px;
    width: 100vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .topbar-header {
    background-color: black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 0px;
    width: 100%;
  }
}
