.newGame {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 10px;
}

.newGame-item {
  height: 485px;
  width: 655px;
}

.newGame img {
  height: 485px;
  width: 100%;
}

.newGame-item-name {
  padding-left: 31px;
  top: 413px;
  position: absolute;
  color: white;
  font-size: 36px;
  text-transform: capitalize;
  text-shadow: 5px 5px 10px black;
}

@media (max-width: 767px) {
  .newGame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
  }

  .newGame-item {
    height: 273px;
    max-width: 370px;
    margin-bottom: 30px;
  }

  .newGame img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .newGame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
  }

  .newGame-item {
    height: 485px;
    width: 100vw;
  }

  .newGame img {
    height: 485px;
    width: 100%;
  }
}
