.gameplay {
  margin-left: 10px;
  width: 276px;
}

.gameplay-block {
  position: relative;
  margin-bottom: 8px;
  text-decoration: none;
}

.gameplay-title {
  color: black;
  position: absolute;
  top: 35px;
  left: 133px;
}

.gameplay img {
  width: 45%;
  margin-right: 10px;
}

.gameplay-number {
  background-color: red;
  padding: 5px 9px;
  position: absolute;
  color: white;
  font-size: 15px;
  z-index: 5;
  margin-top: 63px;
  font-weight: bold;
}

.gameplay-title-content {
  color: black;
  font-size: 20px;
}

@media (max-width: 767px) {
  .gameplay {
    margin: 0px 0 10px 0px;
  }

  .gameplay img {
    width: 95%;
    margin-top: 10px;
  }
  .gameplay-title {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .gameplay {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  .gameplay img {
    width: 82%;
    margin-top: 57px;
  }

  .gameplay-title {
    display: none;
  }

  .gameplay-title-content {
    display: none;
  }
}
