.ad{
  width: 700px;
  background-color: green;
}

.ad img{
  height: 100px;
  width: 700px;
}

@media(max-width : 767px){
  .ad{
    width: 100%;
    height: 50px;
    margin-left: 0px;
    /* background-color: green; */
    width: 100%;
  }
  
  .ad img{
    height: 50px;
    width: 100%;
  }
}

@media(min-width: 768px) and (max-width: 1023px){
  .ad{
    width: 100%;
    height: 30px;
    margin-left: 0px;
    /* background-color: green; */
    width: 100%;
  }
  
  .ad img{
    height: 100px;
    width: 100%;
  }
}
