.drawer-body {
  display: none;
}

@media (max-width: 1023px) {
  .drawer-body {
    display: flex;
    position: relative;
  }
  .list-name {
    text-transform: uppercase;
    text-decoration: none;
    color: "fff";
  }
}
