.menu {
  padding-right: 120px;
  text-transform: capitalize;
  width: 100%;
}

.menu-item {
  height: 25px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: white;
  margin-right: 7px;
  text-decoration: none;
}

.menu-item:nth-child(1) {
  margin-left: 10px;
}

.menu-item:hover {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid white;
}

@media (max-width: 767px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    padding-right: 0px;
  }
  .menu-item {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: left;
    padding: 0 0 0 10px;
  }

  .menu-item {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-left: 0px;
    margin-right: 10px;
    text-decoration: none;
    border-bottom: none;
    height: 25px;
  }

  .menu-item:nth-child(1) {
    margin-left: 0px;
  }

  .menu-item:hover {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
  }
}

@media (max-width: 1024px) {
  .menu {
    display: none;
  }
}
