.footer {
  background-color: black;
  margin-top: 0;
}

.footer span {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  padding: 13px 0;
}

@media (max-width: 767px) {
  .footer {
    background-color: black;
    margin-top: 10px;
  }
}
