.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  margin-left: 0;
  margin-right: 0px;
}

.click-search {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input[type="text"] {
  padding: 5px;
}

@media (max-width: 767px) {
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 8px 0; */
  }

  .click-search {
    width: 29px;
    height: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .click-search {
    width: 45px;
    height: 38px;
  }
}
