.header {
  display: flex;
  justify-content: center;
  align-content: center;
}
.header-logo img {
  height: 200px;
  margin-left: 0px;
}

@media (max-width: 767px) {
  .header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .header-logo {
    width: 100%;
  }

  .header-logo img {
    width: 100%;
    margin-left: 0px;
    max-width: 490px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header-logo {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .header-logo img {
    height: 100%;
    /* width:10;0%; */
    /* padding: 5px 0; */
  }
}
